<div class="d-flex flex-column p-4">
  <div class="title">
    <%unless @event.name.nil?  %>
      <h1><%=@event.name%></h1>
    <% end %>
    <h1><%=I18n.l(@event.date, format: :long, locale: "fr")%></h1>
  </div>
  <div class="choices ">
    <%@choices.each do |choice|%>
      <div class=movie-detailed-card>
        <div class="details">
          <div class="left">
            <%= link_to  choice.movie.trailer_url, target: 'blank', class: "trailer_url" do %>
              <i class="fa-solid fa-film"></i>
            <% end %>
          </div>
          <div class='event-poster'>
            <%= image_tag choice.movie.poster_url %>
          </div>
        </div>
        <div class="vote-logo">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
      </div>
    <% end %>
  </div>
<div class="search-bar">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" value="Titre à ajouter" onFocus="this.value=''"  type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i>
      </button>
    </div>
  <% end %>
</div>
</div>
<div class="footer">
</div>
