<div class="d-flex flex-column p-4">
  <div class="title"  >
    <%unless @event.name.nil?  %>
      <h1><%=@event.name%></h1>
    <% end %>
    <h1><%=I18n.l(@event.date, format: :long, locale: "fr")%></h1>
  </div>
  <div class="choices" >
    <%@choices.each do |choice|%>
      <div class="cardandoanwer" >
        <div class='movie-detailed-card' data-controller="display-names" >
          <div class="details" >
            <div class="left">
              <% if choice.movie.trailer_url.nil? %>
                <div class="empty"></div>
              <% else %>
                <%= link_to  choice.movie.trailer_url, target: 'blank', class: "trailer_url" do %>
                  <i class="fa-solid fa-film"></i>
                <% end %>
              <% end %>
            </div>
            <div class='event-poster'>
              <%= image_tag choice.movie.poster_url %>
            </div>
          </div>
          <div class="vote-logo">
            <% if @votes_user.where(choice: choice, user: current_user).first.nil? %>
              <%=link_to event_vote_path(@event, choice), method: :post do%>
                <i class="fa-solid fa-circle-plus"></i>
              <% end %>
            <% end %>
          </div>
          <div class="vote-score" >
            <div class="choice-ranking-display" <%= "data-action=click->display-names#displayVotes" if choice.ranking > 0 %>>
              <%=choice.ranking%>
            </div>
          <div class="show-votes d-none"  data-display-names-target="votes" data-action='click->display-names#hideVotes'>
            <i class="fa-solid fa-circle-xmark"></i>
            <h4>Votant<%= "s" if choice.votes.count > 1  %> :</h4>
            <% choice.votes.each do |vote|%>
              <h5>
                <li>
                  <%= vote.user.email.split('@').first.capitalize %>
                </li>
              </h5>
            <% end %>
          </div>
          </div>
          <div class="unvote-logo">
            <%unless @votes_user.where(choice: choice, user: current_user).first.nil?%>
              <%= link_to event_unvote_path(@event, choice), method: :delete, data: { confirm: "Voulez vous retirer votre vote?" } do%>
                <i class="fa-solid fa-circle-minus"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="choice-owner">
          <div class="owner-name">
            Proposé par <%=choice.user.email.split('@').first.capitalize%>
            <% if choice.user == current_user %>
              <%= link_to choice_path(choice), method: :delete, data: { confirm: "Voulez vous retirer ce film?" } do%>
                <i class="fa-solid fa-trash ms-2"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="search-bar" id="search-bar" data-controller= 'movie-search'  >
    <form>
      <div class="search-form-control form-group">
        <input class="form-control string required" value='Titre' onClick="this.value=''"  type="text"
              data-movie-search-target='query' data-action ='enter->movie-search#display_results' />
        <div class="btn btn-flat mb-4" data-action ='click->movie-search#display_results'>
          <i class="fas fa-search" ></i>
        </div>
      </div>
    </form>
    <div class="choices" data-movie-search-target='results'>
      <%# HERE comes ajax and serach result in movie_search_controller.js %>
    </div>
  </div>
</div>
<div class="footer">
</div>
