<div class="intro_top">
  <div class="img-intro">
  </div>
  <div class="connect-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email", class: 'input_field' } %>
        <%= f.input :password,
                required: true,
                label: false,
                input_html: { autocomplete: "current-password",class: 'input_field' } %>
        <%= f.input :remember_me,
        label:'Se souvenir de moi',
        class: 'remember-me',
        as: :boolean if devise_mapping.rememberable? %>
        <div class="form-actions">
          <%= f.button :submit, "Connexion",class: 'submit-btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<div class="mentions">
  <h2>
    Une Production <%=link_to "https://vroadstudio.fr", target: :_blank, rel: 'noopener'  do %>
      <%=image_tag('logoVRoad-V1-black.png', :height => 24)%>
    <% end %>
    <br>
    Avec la TMDB API
  </h2>
</div>
