<!DOCTYPE html>
<html>
  <head>
    <title>Cineclub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- favicone-->
    <link rel="images/apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="images/apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="images/apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="images/apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="images/apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="images/apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="images/apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="images/apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="images/apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="images/icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="images/icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="images/icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="images/icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Hide url bar -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- googlefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Urbanist:ital,wght@0,200;0,700;1,200&display=swap" rel="stylesheet">    <!-- fontawesome-->
    <script src="https://kit.fontawesome.com/aa9dc78317.js" crossorigin="anonymous"></script>
    <!--Scripts -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <%# <%= render 'shared/navbar' %>
    <%# <%= render "shared/flashes" %>
    <%= yield %>
    <%unless current_user.nil?  %>
      <div class="management">
        <%= link_to events_path do%>
          <i class="fa-solid fa-list"></i>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do%>
          <i class="fa-solid fa-right-from-bracket"></i>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
